# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Hugging Face Trainer output
results/
logs/
results_poc/
artifacts/
evalplus_results/

# Weights & Biases
wandb/

# IDE files
.vscode/
.idea/

# Test files
peft_test.py

dylora-ece7d9f1337d.json
# Environment variables
.env

docker_token.txt
hf_token.txt
